@model MisFinder.Domain.Models.ViewModel.DashIndexViewModel
<style>
    #olam {
        border-radius: 5px;
    }
</style>
<div class="page-wrapper" style="min-height: 261px;">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <ol class="breadcrumb" style="float:left;">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="">misFinda</a>
                    </li>
                </ol>
            </div>
            <div class="col p-md-0">
                @*<ol class="breadcrumb" style="float:left;">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="">misFinda</a>
                        </li>
                    </ol>*@
            </div>
        </div>
        <div class="row" id="dragdrop">
            <div class="col-md-4 col-sm-12">
                <div class="card" id="olam">
                    <div class="card-body">
                        <div class="stat-widget-two">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="mt-0 mb-1 text-info">@Model.LostItemsCount </h2><span class="">Total Lost Items</span>
                                </div>
                                <img class="ml-3" src="~/Admin/assets/images/icons/100.png" style="width:120px; height:110px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card" id="olam">
                    <div class="card-body">
                        <div class="stat-widget-two">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="mt-0 mb-1 text-danger">@Model.FoundItemCount</h2><span class="">Total Found Items</span>
                                </div>
                                <img class="ml-3" src="~/Admin/assets/images/icons/2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card" id="olam">
                    <div class="card-body">
                        <div class="stat-widget-two">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="mt-0 mb-1 text-warning">@Model.FOundItemClaimCount</h2><span class="">Claims of Found Item</span>
                                </div>
                                <img class="ml-3" src="~/Admin/assets/images/icons/7.png" alt="" style="width:60px;height:100px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="dragdrop">
            <div class="col-md-4 col-sm-12">
                <div class="card" id="olam">
                    <div class="card-body">
                        <div class="stat-widget-two">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="mt-0 mb-1 text-info">@Model.LostItemClaimCount </h2><span class="">Claims Of Lost Item</span>
                                </div>
                                <img class="ml-3" src="~/Admin/assets/images/icons/7.png" style="width:60px;height:100px;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card" id="olam">
                    <div class="card-body">
                        <div class="stat-widget-two">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="mt-0 mb-1 text-danger">@Model.ActiveClaimCount</h2><span class="">Validated Claims</span>
                                </div>
                                <img class="ml-3" src="~/Admin/assets/images/icons/200.svg" style="width:100px;height:100px;" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card" id="olam">
                    <div class="card-body">

                        <div class="stat-widget-two">
                            <div class="media">
                                <div class="media-body">
                                    <h2 class="mt-0 mb-1 text-warning">@Model.ScheduledMeetingCount </h2><span class="">Scheduled Meeting</span>
                                </div>
                                <img class="ml-3" src="~/Admin/assets/images/icons/1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>