@model PaginatedList<LostItem>
@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="page-wrapper" style="min-height: 261px;">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Lost Items</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Lost Items</li>
                </ol>
            </div>
            <div class="col-md-7 align-self-center text-right d-none d-md-block">
                <a class="btn btn-info text-white" asp-area="User" asp-action="Create" asp-controller="LostItem"> <i class="fa fa-plus-circle"></i> Create New </a>
            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <!-- ============================================================== -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">

                            @*<div class="ml-auto">
                                    <select class="custom-select b-0">
                                        <option selected="">January</option>
                                        <option value="1">February</option>
                                        <option value="2">March</option>
                                        <option value="3">April</option>
                                    </select>
                                </div>*@
                        </div>
                        <div class="table-responsive m-t-20 no-wrap">
                            <table class="table vm no-th-brd pro-of-month">
                                <thead>
                                    <tr>
                                        <th colspan="2"><a asp-action="LostItems" asp-route-sortOrder="@ViewBag.NameSortParm">Name/LGA</a></th>
                                        <th>Location</th>
                                        <th>State</th>
                                        <th>Category</th>
                                        <th>Status</th>
                                        <th>Claims </th>
                                        <th><a asp-action="LostItems" asp-route-sortOrder="@ViewBag.DateSortParm">Date Misplaced </a></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content smallModal">
                                                    <div class="modal-header text-center">
                                                        <h4 class="modal-title w-100 font-weight-bold">Delete</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">
                                                        <p>Are you sure you Want to Delete the Item</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form asp-action="Deletes" asp-controller="FoundItem" asp-area="User" method="post">
                                                            <input type="hidden" name="Id" value="@item.Id" />
                                                            <input type="submit" value="Delete" class="btn btn-success" />
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <tr>
                                            <td style="width:50px;"><span class="round">@item.LostItemUser.FirstName[0]</span></td>
                                            <td>
                                                <h6>@item.NameOfLostItem</h6><small class="text-muted">@item.LocalGovernment.Name</small>
                                            </td>
                                            <td>@item.WhereItemWasLost</td>
                                            <td>@item.LocalGovernment.State.Name</td>
                                            <td>@item.ItemCategory</td>
                                            <td>
                                                @if (item.IsFound == true)
                                                {
                                                    <span class="label label-success label-rounded">Cleared</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-warning label-rounded">Pending</span>
                                                }
                                            </td>
                                            <td><span class="round">@item.LostItemClaims.Count</span></td>
                                            <td>@item.DateMisplaced.ToShortDateString()</td>
                                            <td>
                                                <a href="" data-toggle="modal" data-target="#DeleteModal" name="@item.Id" value="@item.Id"> <img src="~/img/delete.svg" style="height:20px;width:20px;" /></a>
                                            </td>
                                           @* <td><a href=""><img src="~/img/mo.svg" title="Details" style=" width:30px; height:30px;" /></a></td>*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a asp-action="LostItems"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @prevDisabled">
                            Previous
                        </a>
                        <a asp-action="LostItems"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @nextDisabled">
                            Next
                        </a>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
    <!-- ============================================================== -->
    <footer class="footer"> © @DateTime.UtcNow MisFinder </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>