@{
    Layout = "_LayoutUser";
}
@model FoundItemClaim

@{
    ViewData["Title"] = "Details";
    var photopath = "Photos/" + (Model.Image?.ImagePath ?? "home 1081.jpg");
    var lostphotopath = "Photos/" + (Model.FoundItem.Image?.ImagePath ?? "home 1081.jpg");

}

<div style=" margin-left:20px; margin-right:20px">
    <h2>Details</h2>

    <div>
        <h4>Lost Item</h4>
        <hr />
        <dl class="dl-horizontal">
            <dd>
                <a href="~/@photopath" target="_blank"> <img class="img-circle" style="width:200px;height:200px;" src="~/@photopath" /></a>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ItemCategory)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ItemCategory)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.WhereItemWasLost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.WhereItemWasLost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateLost)
            </dt>
            <dd>
                @Model.DateLost.ToShortDateString()
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>
            @*<dt>
                    @Html.DisplayNameFor(model => model.WhereItemWasLost)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WhereItemWasLost)
                </dd>*@
            @*<dt>
                    @Html.DisplayNameFor(model => model.ExactArea)
                </dt>*@
            <dd>
                <br />
            </dd>
            <dt>
                Name of Found Item
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FoundItem.NameOfFoundItem)
            </dd>

            <dd>
                <a class="btn btn-warning btn-circle text-uppercase collapsed" data-toggle="collapse" href="#replyOne"><span class="glyphicon"></span>Details</a>
            </dd>
        </dl>
    </div>
    <div class="collapse" id="replyOne" style="height: 0px;">
        <ul class="media-list">
            <li class="media media-replied">
                <a class="pull-left" href="~/@lostphotopath">
                    <img class="media-object img-circle" style="width:150px;height:150px;" src="~/@lostphotopath" alt="profile">
                </a>
                <div class="media-body">
                    <div class="well well-lg">
                        <h4 class="media-heading text-uppercase reviews"><span class="glyphicon glyphicon-share-alt"></span>@Model.FoundItem.NameOfFoundItem</h4>
                        @*<ul class="media-date text-uppercase reviews list-inline">
                                <li class="dd">22</li>
                                <li class="mm">09</li>
                                <li class="aaaa">2014</li>
                            </ul>*@
                        <p class="media-comment">
                            @Model.FoundItem.Description
                        </p>
                        <span>@Model.FoundItem.DateFound.ToShortDateString()</span>
                        <p>@Model.FoundItem.ExactArea</p>
                        <p>@Model.FoundItem.LocalGovernment.State.Name</p>
                        <p>@Model.FoundItem.ItemCategory</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>