@{
    Layout = "_SearchLayOut";
}

@model IEnumerable<LostItem>
@{
    ViewData["Title"] = "Search";
}
<link rel="stylesheet" href="~/css/style.css" />

<style>
    * {
        box-sizing: border-box;
        margin: 2px;
    }

    .row {
        display: -webkit-box;
    }
    /*.card
        line-height: 0px;
        font-size: 12px;
    }*/
    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @@media screen and (max-width: 900px) {
        .column {
            width: 50%;
        }

        @@media (min-width: 1200px) {
            .container {
                max-width: 1300px;
            }
        }
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    }

    #icon {
        position: relative;
        display: inline-block;
    }

        #icon .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        #icon:hover .tooltiptext {
            visibility: visible;
        }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    .card-body {
        border-radius: 3px;
        background-color: #fff;
        color: black;
        padding: 0.9rem;
        font-family: cursive,serif,sans-serif;
    }

    #mycard {
        height: 249.33px;
    }

    /*#myrow {
        display: none;
    }*/
</style>

@*<div class="row">
        <div class="column"></div>
        <div class="column"></div>
    </div>*@
<div style="color:black">
    Cant find the Item You found?
    <a asp-area="User" asp-action="Create" asp-controller="FoundItem" class="btn btn-primary"><span> Register your Found Item </span> </a>

    @if (Model.Count() == 0)
    {
        <div>No Lost Item Matches </div>
    }
    else
    {<br />
        <br />
        <h4>Lost Items Found</h4>
        <div class="row" id="myrow">
            @foreach (var item in Model)
            {
                var photopath = "Photos/" + (item.Image?.ImagePath ?? "home 1081.jpg");

                <div class="col-lg-6">
                    <!-- Card -->

                    <div class="card" id="mycard">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4" style="padding-right:0px;">
                                    <img class="card-img-top img-responsive" style="padding:0px;" width="100" height="100" src="~/@photopath" alt="Card image cap">
                                </div>
                                <div class="col-lg-7" style="padding-right:0px;">
                                    <h4 class="card-title" style="margin-bottom:0px;">
                                        @item.NameOfLostItem
                                    </h4>
                                    <span style="float:right;">@item.DateMisplaced.ToShortDateString()</span>
                                    <p class="card-text" style="clear:right;">@item.Description@*Some quick example text to build on the card title and make up the bulk of the card's content.*@</p>
                                    <p style="float:left;font-size:small"><small>lost at: </small>@item.ExactArea</p>
                                    @*  <a href="#" class="btn btn-primary">Go somewhere</a>*@

                                    <a class="float-right" asp-area="User" asp-controller="LostItemClaim" title="Claim" asp-action="Create" asp-route-id="@item.Id"><img src="~/img/refund.svg" style="width:50px;height:50px;" /></a>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->
                    </div>
                </div>
            }
        </div>

    }
</div>
<script>
    datePickerId.max = new Date().toISOString().split("T")[0];
    datePickerId2.max = new Date().toISOString().split("T")[0];

    function FillCity() {
        $("#state").on('change', function () {
            var val = this.value;
        });
        var stateId = $("#state").val();
        //var selectedCountry = $("#state").children("option:selected").val()
        $.ajax({
            url: '/Home/LocalGovernments',
            type: "GET",
            dataType: "JSON",
            data: { id: stateId },
            success: function (cities) {
                $("#lga").html(""); // clear before appending new list
                $("#lga").append($('<option></option>').val("").html("Please select LGA"));
                $.each(cities, function (i, city) {
                    $("#lga").append(
                        $('<option></option>').val(city.id).html(city.name));
                });

            }
        });
    }
</script>