@model IEnumerable<FoundItem>
@{
    Layout = "_SearchLayout";
}
@{
    ViewData["Title"] = "Search";

}
<style>

    @@media (min-width: 768px) {
        .col-md-3 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    .col-md-3 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 5px;
    }

    .card-outline-primary {
        background-color: inherit;
        border-radius: 5px;
    }

    .card {
        position: relative;
        /*display: -webkit-box;*/
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        /*-ms-flex-direction: column;*/
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        border-radius: 5px;
    }

    /*.card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0,0,0,.125);
        border-radius: 5px;
        /*background: #007bff;
        border-color: black;
        border-radius: 5px;
        color: black;
        font-family: cursive sans-serif serif;
    }*/

    .card-header span {
        float: right;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        font-family: cursive sans-serif serif;
        color: black;
    }

    .btn-inverse {
        color: #fff;
        background-color: #bd2130;
        border-color: #b21f2d;
    }

    #h44 {
        width: 70%;
    }
</style>

<div>
    <h4>
        Cant find the item you Lost?
        <a asp-area="User" asp-controller="LostItem" asp-action="Create" class="btn btn-outline-primary"><span> Register It </span> </a>
    </h4>
</div>
@if (Model.Count() == 0)
{
    <div>No Found Item Matches </div>
}
else
{
    <h4> Found Items </h4>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-lg-3 col-xlg-3">
                <div class="card card-body">
                    <div class="row">
                        @*<div class="col-md-4 col-lg-3 text-center">
                            </div>*@
                        <div class="col-md-12 col-lg-12">
                            <h3 style=" font-family:cursive sans-serif serif;">@item.NameOfFoundItem </h3><hr style="margin-top:0px;margin-bottom:10px;" />
                            <p><span>@item.LocalGovernment.State.Name</span> <span style="float:right;">@item.DateFound.ToShortDateString()</span></p>
                            <address>

                                <br>
                                <abbr>found at:</abbr> @item.ExactArea
                                <a asp-area="User" style="float:right;" asp-controller="FoundItemClaim" title="Claim" asp-action="Create" asp-route-id="@item.Id"><img src="~/img/refund.svg" style="width:50px;height:50px;" /></a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-md-3">
                    <div class="card card-outline-primary">
                        <div class="card-header">
                            <h4 class=""> <span></span> </h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="float:right"><small>found at: </small> @item.ExactArea </p>
                            <h4 class="card-title text-white" id="h44" style="float:left"><small>  </small></h4>
                            <div style="float:right;">
                                  <a class="float-right" asp-area="User" asp-controller="LostItemClaim" title="Claim" asp-action="Create" asp-route-id="@item.Id"></a>
                            </div>
                        </div>
                    </div>
                </div>*@

            @*<div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:3px;"> <span class="sr-only">50% Complete</span></div>
                    </div>
                    <a asp-controller="FoundItemClaim" title="Claim" asp-action="SameUser" asp-route-id="@item.Id"><img style="height:40px; width: 40px" src="~/img/icon/lostclaimicon.png" /></a>
                </div>*@

        }
    </div>
}