@{
    Layout = "_SearchLayOut";
}

@model IEnumerable<LostItem>
@{
    ViewData["Title"] = "Search";
}
<link rel="stylesheet" href="~/css/style.css" />

<style>
    * {
        box-sizing: border-box;
        margin: 2px;
    }

    /* Create four equal columns that floats next to each other */
    .column {
        float: left;
        width: 25%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @@media screen and (max-width: 900px) {
        .column {
            width: 50%;
        }
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    }

    #icon {
        position: relative;
        display: inline-block;
    }

        #icon .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        #icon:hover .tooltiptext {
            visibility: visible;
        }

    .card {
        background: #272c33;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        /*background-color: #fff;*/
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    .card-body {
        border-radius: 3px;
        5px;
    }
</style>

@*<div class="row">
        <div class="column"></div>
        <div class="column"></div>
    </div>*@
<div>
    Cant find the Item You found?
    <a asp-area="User" asp-action="Create" asp-controller="FoundItem"><span> Register your Found Item </span> </a>
</div>
@if (Model.Count() == 0)
{
    <div>No Lost Item Matches </div>
}
else
{<br />
    <br />
    <h4>Lost Items Found</h4>
    <div class="contacts row">

        @foreach (var item in Model)
        {
            var photopath = "Photos/" + (item.Image?.ImagePath ?? "home 1081.jpg");

            <div class="col-lg-3 col-md-6">
                <!-- Card -->
                <div class="card">
                    <img class="card-img-top img-responsive" style="height:200px;" src="~/@photopath" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">@item.NameOfLostItem</h4>
                        <li class="p-l-0">@item.DateMisplaced.ToShortDateString()</li>
                        <p class="card-text">@item.Description@*Some quick example text to build on the card title and make up the bulk of the card's content.*@</p>
                        <p>@item.ExactArea</p>
                      @*  <a href="#" class="btn btn-primary">Go somewhere</a>*@

                        <a class="float-right" asp-area="User" asp-controller="LostItemClaim" title="Claim" asp-action="Create" asp-route-id="@item.Id"><img src="~/img/refund.svg" style="width:50px;height:50px;" /></a>
                    </div>
                </div>
                <!-- Card -->
            </div>
        }

        @*<div class="col-xl-2 col-lg-3 col-sm-4 col-5">
            <div class="contacts__item">
              <a href=@photopath class="contacts__img">
                        <img src=@photopath alt="" />
                    </a>}

                <div class="contacts__info">
                    <strong>@item.NameOfLostItem</strong>
                    <small>@item.Description</small>
                    <small>@item.ExactArea</small>
                </div>
                <a asp-controller="LostItemClaim" title="Claim" asp-action="Create" asp-route-id="@item.Id"><img style="height:40px; width: 40px" src="~/img/icon/lostclaimicon.png" /></a>

                @*                    <button class="contacts__btn">Following</button>*@
        @*</div>
            </div>*@
        @*<div class="container">
                <div class="row">

                    <div class="col">
                        <div class="card ola" style="width: 18rem;">
                            <div class="card-body">
                                <h1 class="card-body">@item.Description</h1>
                                <p>@item.ExactArea </p>
                                <p>@item.DateMisplaced.ToShortDateString()</p>
                                <a id="icon"><img src="~/img/icon/lostclaimicon.png" /></a>
                                <span class="tooltiptext">Tooltip text</span>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
}