@model LostItemClaim
@{
    ViewData["Title"] = "LostDetails";
}

<div class="page-wrapper" style="min-height: 261px;">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <h2>  Lost Claims </h2>
        <div class="row">
            <div class="col-lg-6">
                @*  <div class="form-control">*@
                <h3>Found Item</h3>
                <div class="card">
                    <p>@Model.LostItem.NameOfLostItem</p>
                    <p>@Model.LostItem.ExactArea</p>
                    <span>@Model.LostItem.WhereItemWasLost</span>

                    <p></p>
                </div>

                @*</div>*@
            </div>

            <div class="col-lg-6">
                @*<div class="form-control">*@
                <h3> Claim </h3>

                <div class="card">
                    <p>@Model.DateFound </p>
                    <p>@Model.LostItem.ExactArea</p>
                    <span>@Model.LostItem.WhereItemWasLost</span>

                    <p></p>
                </div>
                @*</div>*@
            </div>
            <div>
                <a asp-action="Index" class="btn btn-primary"> Back</a>
                <form method="post" asp-action="ContactLostFinder">
                    <input type="hidden" name="mail" value="@Model.ApplicationUser.Email" />
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="Date" value="@Model.CreatedOn.ToString()" />
                    <input type="hidden" name="Name" value="@Model.ApplicationUser.FirstName" />
                    @if (Model.IsAdminValid == true)
                    {
                        <input type="submit" value="Validated" class="btn btn-primary" disabled />
                    }
                    else
                    {
                        <input type="submit" value="Validate" class="btn btn-primary" />
                    }
                </form>
            </div>
        </div>
    </div>
</div>