@model IEnumerable<MisFinder.Domain.Models.FoundItemClaim>

@{
    ViewData["Title"] = "View";
}
<style>
    @@media(min-width: 852px) {
        .col-md-12 {
            width: 70%;
        }
    }

    .col-md-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .accordion .panel {
        border: 0;
        box-shadow: none;
    }

    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 4px;
        width: 750px;
        margin-left: 60px;
    }

    }

    .accordion .panel-heading {
        background-color: transparent;
        padding: 0;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }

    .panel-body {
        border: 1px solid #6a737c;
        border-radius: 5px;
        color: black;
        background-color: #f6f6f6;
    }

    .accordion .panel-heading a {
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 10px 40px 10px 15px;
        color: #333;
        background-color: #007bff;
    }
</style>

@if (Model == null || Model.Count() == 0)
{
    <div>
        <h4> No claims </h4>
    </div>
}
else
{
    <h1>Claims</h1>

    <div class="ui-tabs-accordion my-90">
        <div class="row">
            <div class="col-md-12">

                <div class="panel-group accordion accordion-gray" id="accordion-gray">
                    @foreach (var item in Model)
                    {
                        var photopath = "Photos/" + (item.Image?.ImagePath ?? "home 1081.jpg");
                        <form asp-action="Validate" asp-area="User" asp-controller="FoundItem" method="post">
                            <input type="hidden" name="Id" value="@item.Id" />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" aria-expanded="false" data-toggle="collapse" data-parent="#accordion-gray" href="#@item.Id" style="text-decoration:none; color:white">
                                            @item.ApplicationUser.FirstName
                                            <span style="float:right"><small style="color:white">found On: </small>@item.DateLost.ToShortDateString()</span>
                                        </a>
                                    </h4>
                                    <p style="float:right;"></p>
                                    <!-- /.panel-title -->
                                </div><!-- /.panel-heading -->
                                <div aria-expanded="false" id="@item.Id" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body text-black">
                                        <a class="pull-left" href="~/@photopath">
                                            <img class="media-object img-circle" style="width:150px;height:150px;" src="~/@photopath" alt="profile">
                                        </a>
                                        <p style="float:right"><Small class="btn btn-circle-sm">Lost at: @item.WhereItemWasLost</Small></p>
                                        <span>@item.Color </span>
                                        @*  <h3 style="color:black">@item. </h3>*@
                                        <p> @item.Description </p>
                                        @if (item.Status == ClaimStatus.Pending)
                                        {
                                            <input type="submit" name="status" value="Valid" style="float:right;background-color:#007bff" class="btn btn-default" />
                                            <input type="submit" name="status" value="InValid" style="float:right;background-color:#007bff;margin-right:5px;" class="btn btn-default" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="@item.Status" style="float:right;background-color:#007bff;color:black;" class="btn btn-default" disabled>
                                        }
                                    </div><!-- /.panel-body -->
                                </div><!-- /.panel-collapse -->
                            </div><!-- /.panel -->
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>

}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FoundItemId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhereItemWasLost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateLost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsValidated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsEditedCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhereItemWasLost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsValidated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEditedCount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
    }
        </tbody>
    </table>*@