@model FoundItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Found Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfFoundItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfFoundItem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocalGovernment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalGovernment.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFound)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFound)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhereItemWasFound)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhereItemWasFound)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
